<ncx xmlns="http://www.daisy.org/z3986/2005/ncx/" version="2005-1" xml:lang="{{if .Lang}}{{.Lang}}{{else}}en-US{{end}}">
    <head>
        <meta name="dtb:uid" content="BookID" />
    </head>
    <docTitle>
        <text>{{.Title}}</text>
    </docTitle>
    <navMap>
        {{.Toc}}
    </navMap>
</ncx>